In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.getcwd()

'/Users/chuqiwang/Desktop/NSQIP'

# Data cleaning

In [3]:
df_2019 = pd.read_csv('2019/nsqip_2019.csv', index_col=0)

In [4]:
df_2020 = pd.read_csv('2020/nsqip_2020.csv', index_col=0)

In [5]:
df_2021 = pd.read_csv('2021/nsqip_2021.csv', index_col=0)

In [6]:
df_2022 = pd.read_csv('2022/nsqip_2022.csv', index_col=0)

In [7]:
df_2019.shape

(91, 274)

In [8]:
df_2020.shape

(63, 276)

In [9]:
df_2021.shape

(125, 260)

In [10]:
df_2022.shape

(134, 270)

In [11]:
df_2022.columns = df_2022.columns.str.upper()
df_2021.columns = df_2021.columns.str.upper()
df_2020.columns = df_2020.columns.str.upper()
df_2019.columns = df_2019.columns.str.upper()

In [12]:
df = pd.concat([df_2019, df_2020, df_2021, df_2022])

In [13]:
df.index = range(0, len(df))

In [14]:
df

,PUFYEAR,CASEID,SEX,RACE_NEW,ETHNICITY_HISPANIC,PRNCPTX,CPT,WORKRVU,INOUT,TRANST,...,HXDEMENTIA,DELIRIUM,DISHOMESVC,DISFXNSTAT,PREOP_CREAT_MSINCR,POSTOP_CREAT_MSINCR,OP_APPROACH,ROBOT_USED,UNPLANNED_CONV_OPEN,HAND_OPEN_ASSIST
0,2019,10180079,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,9966012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,10077186,male,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,9693012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,9669598,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2022,13017610,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
409,2022,13017444,non-binary,Unknown/Not Reported,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
410,2022,13181013,non-binary,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
411,2022,13353838,male,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Outpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
412,2022,13385918,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN

In [15]:
#df.to_csv('nsqip.csv')

In [16]:
df = df.replace(-99, np.nan)

In [17]:
df.filter(regex='(?i)CPT').columns

Index(['PRNCPTX', 'CPT', 'OTHERCPT1', 'OTHERCPT2', 'OTHERCPT3', 'OTHERCPT4',
       'OTHERCPT5', 'OTHERCPT6', 'OTHERCPT7', 'OTHERCPT8', 'OTHERCPT9',
       'OTHERCPT10', 'CONCPT1', 'CONCPT2', 'CONCPT3', 'CONCPT4', 'CONCPT5',
       'CONCPT6', 'CONCPT7', 'CONCPT8', 'CONCPT9', 'CONCPT10', 'REOPORCPT1',
       'REOPOR2CPT1'],
      dtype='object')

In [18]:
columns_to_check = [
    'CPT', 'OTHERCPT1', 'OTHERCPT2', 'OTHERCPT3', 'OTHERCPT4',
    'OTHERCPT5', 'OTHERCPT6', 'OTHERCPT7', 'OTHERCPT8', 'OTHERCPT9',
    'OTHERCPT10', 'CONCPT1', 'CONCPT2', 'CONCPT3', 'CONCPT4', 'CONCPT5',
    'CONCPT6', 'CONCPT7', 'CONCPT8', 'CONCPT9', 'CONCPT10', 'REOPORCPT1',
    'REOPOR2CPT1'
]

In [19]:
df_with57425 = df[df[columns_to_check].isin([57425]).any(axis=1)]

In [20]:
df_with57425

,PUFYEAR,CASEID,SEX,RACE_NEW,ETHNICITY_HISPANIC,PRNCPTX,CPT,WORKRVU,INOUT,TRANST,...,HXDEMENTIA,DELIRIUM,DISHOMESVC,DISFXNSTAT,PREOP_CREAT_MSINCR,POSTOP_CREAT_MSINCR,OP_APPROACH,ROBOT_USED,UNPLANNED_CONV_OPEN,HAND_OPEN_ASSIST
339,2022,12451017,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Laparoscopic,Yes,No,No

In [21]:
df_no57425 = df.drop([339], axis=0)

In [22]:
df_no57425

,PUFYEAR,CASEID,SEX,RACE_NEW,ETHNICITY_HISPANIC,PRNCPTX,CPT,WORKRVU,INOUT,TRANST,...,HXDEMENTIA,DELIRIUM,DISHOMESVC,DISFXNSTAT,PREOP_CREAT_MSINCR,POSTOP_CREAT_MSINCR,OP_APPROACH,ROBOT_USED,UNPLANNED_CONV_OPEN,HAND_OPEN_ASSIST
0,2019,10180079,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,9966012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,10077186,male,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,9693012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,9669598,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2022,13017610,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
409,2022,13017444,non-binary,Unknown/Not Reported,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
410,2022,13181013,non-binary,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
411,2022,13353838,male,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Outpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN
412,2022,13385918,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,NaN,NaN,NaN,NaN,NaN,NaN,Open,No,No,NaN

# Patient demographics

In [23]:
df.groupby('RACE_NEW').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['RACE_NEW'].count()) * 100).round(2)

                                 RACE_NEW  counts  percentage
0                                   Asian      15        3.63
1               Black or African American      31        7.51
2    Race combinations with low frequency       1        0.24
3                         Some Other Race      12        2.91
4                    Unknown/Not Reported      19        4.60
5                                   White     334       80.87
6  White,American Indian or Alaska Native       1        0.24

In [24]:
df_with57425.groupby('RACE_NEW').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['RACE_NEW'].count()) * 100).round(2)

  RACE_NEW  counts  percentage
0    White       1       100.0

In [25]:
df_no57425.groupby('RACE_NEW').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['RACE_NEW'].count()) * 100).round(2)

                                 RACE_NEW  counts  percentage
0                                   Asian      15        3.64
1               Black or African American      31        7.52
2    Race combinations with low frequency       1        0.24
3                         Some Other Race      12        2.91
4                    Unknown/Not Reported      19        4.61
5                                   White     333       80.83
6  White,American Indian or Alaska Native       1        0.24

In [26]:
df.groupby('SEX').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['SEX'].count()) * 100).round(2)

          SEX  counts  percentage
0      female     317       76.76
1        male      88       21.31
2  non-binary       8        1.94

In [27]:
df_with57425.groupby('SEX').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['SEX'].count()) * 100).round(2)

      SEX  counts  percentage
0  female       1       100.0

In [28]:
df_no57425.groupby('SEX').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['SEX'].count()) * 100).round(2)

          SEX  counts  percentage
0      female     316       76.70
1        male      88       21.36
2  non-binary       8        1.94

In [29]:
df.groupby('ETHNICITY_HISPANIC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['ETHNICITY_HISPANIC'].count()) * 100).round(2)

  ETHNICITY_HISPANIC  counts  percentage
0                 No     374       90.56
1            Unknown       4        0.97
2                Yes      35        8.47

In [30]:
df_with57425.groupby('ETHNICITY_HISPANIC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['ETHNICITY_HISPANIC'].count()) * 100).round(2)

  ETHNICITY_HISPANIC  counts  percentage
0                 No       1       100.0

In [31]:
df_no57425.groupby('ETHNICITY_HISPANIC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['ETHNICITY_HISPANIC'].count()) * 100).round(2)

  ETHNICITY_HISPANIC  counts  percentage
0                 No     373       90.53
1            Unknown       4        0.97
2                Yes      35        8.50

In [32]:
df.groupby('INOUT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['INOUT'].count()) * 100).round(2)

        INOUT  counts  percentage
0   Inpatient     382       92.49
1  Outpatient      31        7.51

In [33]:
df_with57425.groupby('INOUT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['INOUT'].count()) * 100).round(2)

       INOUT  counts  percentage
0  Inpatient       1       100.0

In [34]:
df_no57425.groupby('INOUT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['INOUT'].count()) * 100).round(2)

        INOUT  counts  percentage
0   Inpatient     381       92.48
1  Outpatient      31        7.52

In [35]:
df.groupby('AGE').size().reset_index(name='counts')

    AGE  counts
0    18       7
1    19       6
2    20       9
3    21       9
4    22       6
5    23      12
6    24      13
7    25      25
8    26      14
9    27      20
10   28      12
11   29      20
12   30      12
13   31      19
14   32      15
15   33      16
16   34       7
17   35      16
18   36      10
19   37      12
20   38       9
21   39       7
22   40      14
23   41       4
24   42       9
25   43       7
26   44       5
27   45       8
28   46       1
29   47       9
30   48       7
31   49       7
32   50       8
33   51       7
34   52       4
35   53       4
36   54       5
37   55       1
38   56       1
39   57       3
40   58       1
41   59       3
42   60       1
43   61       4
44   62       2
45   63       3
46   64       2
47   65       5
48   66       1
49   67       3
50   68       1
51   69       4
52   71       1
53   73       1
54   75       1

In [36]:
df['AGE'].mean()

np.float64(36.181598062953995)

In [37]:
df['AGE'].std()

np.float64(12.534939532781229)

In [38]:
df['AGE'].median()

np.float64(33.0)

In [39]:
df_with57425['AGE'].mean()

np.float64(32.0)

In [40]:
df_with57425['AGE'].std()

np.float64(nan)

In [41]:
df_no57425['AGE'].mean()

np.float64(36.19174757281554)

In [42]:
df_no57425['AGE'].std()

np.float64(12.548480384317067)

In [43]:
df_no57425['AGE'].median()

np.float64(33.0)

In [44]:
age_bins = [0, 20, 30, 40, 50, 60, 70, 80, 90]
age_labels = ['<20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90']

In [45]:
df['AGE_GROUP'] = pd.cut(df['AGE'], bins=age_bins, labels=age_labels, right=False)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/119518445.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['AGE_GROUP'] = pd.cut(df['AGE'], bins=age_bins, labels=age_labels, right=False)

In [46]:
df.groupby('AGE_GROUP').size().reset_index(name='counts')

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/2641823900.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('AGE_GROUP').size().reset_index(name='counts')

  AGE_GROUP  counts
0       <20      13
1     20-30     140
2     30-40     123
3     40-50      71
4     50-60      37
5     60-70      26
6     70-80       3
7     80-90       0

In [47]:
df.groupby('AGE_GROUP').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['AGE_GROUP'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/73212253.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('AGE_GROUP').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['AGE_GROUP'].count()) * 100).round(1)

  AGE_GROUP  counts  percentage
0       <20      13         3.1
1     20-30     140        33.9
2     30-40     123        29.8
3     40-50      71        17.2
4     50-60      37         9.0
5     60-70      26         6.3
6     70-80       3         0.7
7     80-90       0         0.0

In [48]:
df.groupby('OPERYR').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OPERYR'].count()) * 100).round(2)

   OPERYR  counts  percentage
0    2019      91       22.03
1    2020      63       15.25
2    2021     125       30.27
3    2022     134       32.45

In [49]:
df_with57425.groupby('OPERYR').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['OPERYR'].count()) * 100).round(2)

   OPERYR  counts  percentage
0    2022       1       100.0

In [50]:
df_no57425.groupby('OPERYR').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['OPERYR'].count()) * 100).round(2)

   OPERYR  counts  percentage
0    2019      91       22.09
1    2020      63       15.29
2    2021     125       30.34
3    2022     133       32.28

In [51]:
df.groupby('ANESTHES').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['ANESTHES'].count()) * 100).round(2)

  ANESTHES  counts  percentage
0  General     413       100.0

In [52]:
df.groupby('SURGSPEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['SURGSPEC'].count()) * 100).round(2)

          SURGSPEC  counts  percentage
0  General Surgery       2        0.48
1         Plastics     329       79.66
2          Urology      82       19.85

In [53]:
df_with57425.groupby('SURGSPEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['SURGSPEC'].count()) * 100).round(2)

  SURGSPEC  counts  percentage
0  Urology       1       100.0

In [54]:
df_no57425.groupby('SURGSPEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['SURGSPEC'].count()) * 100).round(2)

          SURGSPEC  counts  percentage
0  General Surgery       2        0.49
1         Plastics     329       79.85
2          Urology      81       19.66

In [55]:
df.groupby('WEIGHT').size().reset_index(name='counts')

     WEIGHT  counts
0      93.0       1
1      97.0       1
2     101.0       1
3     108.0       2
4     112.0       3
..      ...     ...
132   285.0       1
133   286.0       1
134   289.0       1
135   304.0       1
136   308.0       1

[137 rows x 2 columns]

In [56]:
df['WEIGHT'].replace(-99, np.nan).mean()

np.float64(176.3228155339806)

In [57]:
df['WEIGHT'].replace(-99, np.nan).std()

np.float64(38.16910973600094)

In [58]:
df['WEIGHT'].replace(-99, np.nan).median()

np.float64(172.0)

In [59]:
df_with57425['WEIGHT']

339    200.0
Name: WEIGHT, dtype: float64

In [60]:
df_no57425['WEIGHT'].replace(-99, np.nan).mean()

np.float64(176.26520681265208)

In [61]:
df_no57425['WEIGHT'].replace(-99, np.nan).std()

np.float64(38.19769155511954)

In [62]:
df_no57425['WEIGHT'].replace(-99, np.nan).median()

np.float64(172.0)

In [63]:
df['WEIGHT'].mean()

np.float64(176.3228155339806)

In [64]:
df['WEIGHT'].std()

np.float64(38.16910973600094)

In [65]:
df['WEIGHT'].median()

np.float64(172.0)

In [66]:
df.groupby('HEIGHT').size().reset_index(name='counts')

    HEIGHT  counts
0     57.0       1
1     59.0       4
2     60.0       2
3     61.0       1
4     62.0       3
5     63.0       7
6     64.0      17
7     65.0      17
8     66.0      52
9     67.0      38
10    68.0      44
11    69.0      55
12    70.0      55
13    71.0      52
14    72.0      29
15    73.0      15
16    74.0       8
17    75.0       5
18    76.0       3
19    77.0       2
20    81.0       1

In [67]:
df['HEIGHT'].mean()

np.float64(68.64720194647202)

In [68]:
df['HEIGHT'].replace(-99, np.nan).mean()

np.float64(68.64720194647202)

In [69]:
df['HEIGHT'].replace(-99, np.nan).std()

np.float64(3.1397701804347755)

In [70]:
df['HEIGHT'].replace(-99, np.nan).median()

np.float64(69.0)

In [71]:
df_with57425['HEIGHT']

339    71.0
Name: HEIGHT, dtype: float64

In [72]:
df_no57425['HEIGHT'].replace(-99, np.nan).mean()

np.float64(68.64146341463415)

In [73]:
df_no57425['HEIGHT'].replace(-99, np.nan).std()

np.float64(3.1414474736512124)

In [74]:
df_no57425['HEIGHT'].replace(-99, np.nan).median()

np.float64(69.0)

In [75]:
df['HEIGHT'].mean()

np.float64(68.64720194647202)

In [76]:
df['HEIGHT'].std()

np.float64(3.1397701804347755)

In [77]:
df['HEIGHT'].median()

np.float64(69.0)

In [78]:
height_bins = [0, 60, 65, 70, 75, float('inf')]
height_labels = ['<60', '60-65', '65-70', '70-75', '>75']

weight_bins = [0, 150, 170, 190, 210, float('inf')]
weight_labels = ['<150', '150-170', '170-190', '190-210', '>210']
df['height_range'] = pd.cut(df['HEIGHT'], bins=height_bins, labels=height_labels, right=False)
df['weight_range'] = pd.cut(df['WEIGHT'], bins=weight_bins, labels=weight_labels, right=False)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/2963422174.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['height_range'] = pd.cut(df['HEIGHT'], bins=height_bins, labels=height_labels, right=False)
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/2963422174.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['weight_range'] = pd.cut(df['WEIGHT'], bins=weight_bins, labels=weight_labels, right=False)

In [79]:
df.groupby('height_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['height_range'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1643566101.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('height_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['height_range'].count()) * 100).round(1)

  height_range  counts  percentage
0          <60       5         1.2
1        60-65      30         7.3
2        65-70     206        50.1
3        70-75     159        38.7
4          >75      11         2.7

In [80]:
df.groupby('weight_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['weight_range'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1717143952.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('weight_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['weight_range'].count()) * 100).round(1)

  weight_range  counts  percentage
0         <150      99        24.0
1      150-170      94        22.8
2      170-190      90        21.8
3      190-210      60        14.6
4         >210      69        16.7

In [81]:
df['WEIGHT'] = df['WEIGHT'].replace(-99, np.nan)
df['HEIGHT'] = df['HEIGHT'].replace(-99, np.nan)

In [82]:
df['BMI'] = (df['WEIGHT'] / (df['HEIGHT'] ** 2)) * 703

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/4087831008.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['BMI'] = (df['WEIGHT'] / (df['HEIGHT'] ** 2)) * 703

In [83]:
df['BMI'].mean()

np.float64(26.27592011343199)

In [84]:
df['BMI'].std()

np.float64(5.307822862788388)

In [85]:
df['BMI'].median()

np.float64(25.68092105263158)

In [86]:
df.groupby('BMI').size().reset_index(name='counts')

           BMI  counts
0    15.619123       1
1    16.047297       1
2    16.419550       1
3    16.537702       1
4    16.679977       1
..         ...     ...
340  41.970149       1
341  42.126754       1
342  43.614694       1
343  45.343411       1
344  46.156566       1

[345 rows x 2 columns]

In [87]:
df_with57425['BMI'] = (df_with57425['WEIGHT'] / (df_with57425['HEIGHT'] ** 2)) * 703

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1862381748.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_with57425['BMI'] = (df_with57425['WEIGHT'] / (df_with57425['HEIGHT'] ** 2)) * 703
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1862381748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with57425['BMI'] = (df_with57425['WEIGHT'] / (df_with57425['HEIGHT'] ** 2)) * 703

In [88]:
df_with57425['BMI']

339    27.891291
Name: BMI, dtype: float64

In [89]:
df_no57425['WEIGHT'] = df_no57425['WEIGHT'].replace(-99, np.nan)
df_no57425['HEIGHT'] = df_no57425['HEIGHT'].replace(-99, np.nan)

In [90]:
df_no57425['BMI'] = (df_no57425['WEIGHT'] / (df_no57425['HEIGHT'] ** 2)) * 703

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1533754504.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_no57425['BMI'] = (df_no57425['WEIGHT'] / (df_no57425['HEIGHT'] ** 2)) * 703

In [91]:
df_no57425['BMI'].mean()

np.float64(26.2719801834393)

In [92]:
df_no57425['BMI'].std()

np.float64(5.313705916896579)

In [93]:
df_no57425['BMI'].median()

np.float64(25.612882286450215)

In [94]:
bmi_bins = [0, 18.5, 24.9, 29.9, float('inf')]
bmi_labels = ['Underweight', 'Normal weight', 'Overweight', 'Obesity']

df['BMI_range'] = pd.cut(df['BMI'], bins=bmi_bins, right=False)
df['weight_status'] = pd.cut(df['BMI'], bins=bmi_bins, labels=bmi_labels, right=False)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/693233106.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['BMI_range'] = pd.cut(df['BMI'], bins=bmi_bins, right=False)
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/693233106.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['weight_status'] = pd.cut(df['BMI'], bins=bmi_bins, labels=bmi_labels, right=False)

In [95]:
df.groupby('BMI_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['BMI_range'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/3212768006.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('BMI_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['BMI_range'].count()) * 100).round(1)

      BMI_range  counts  percentage
0   [0.0, 18.5)      10         2.4
1  [18.5, 24.9)     171        41.6
2  [24.9, 29.9)     144        35.0
3   [29.9, inf)      86        20.9

In [96]:
df.groupby('weight_status').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['weight_status'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1592347347.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('weight_status').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['weight_status'].count()) * 100).round(1)

   weight_status  counts  percentage
0    Underweight      10         2.4
1  Normal weight     171        41.6
2     Overweight     144        35.0
3        Obesity      86        20.9

In [97]:
df.groupby('ASACLAS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['ASACLAS'].count()) * 100).round(2)

            ASACLAS  counts  percentage
0      1-No Disturb      88       21.31
1    2-Mild Disturb     280       67.80
2  3-Severe Disturb      45       10.90

In [98]:
df_with57425.groupby('ASACLAS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['ASACLAS'].count()) * 100).round(2)

            ASACLAS  counts  percentage
0  3-Severe Disturb       1       100.0

In [99]:
df_no57425.groupby('ASACLAS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['ASACLAS'].count()) * 100).round(2)

            ASACLAS  counts  percentage
0      1-No Disturb      88       21.36
1    2-Mild Disturb     280       67.96
2  3-Severe Disturb      44       10.68

In [100]:
df.groupby('MORTPROB').size().reset_index(name='counts')

     MORTPROB  counts
0    0.000016       1
1    0.000026       1
2    0.000030       1
3    0.000032       1
4    0.000032       1
..        ...     ...
408  0.003457       1
409  0.004871       1
410  0.005049       1
411  0.005110       1
412  0.005685       1

[413 rows x 2 columns]

In [101]:
df['MORTPROB'].mean()

np.float64(0.0003902249822449217)

In [102]:
df['MORTPROB'].std()

np.float64(0.0006369394698139782)

In [103]:
df['MORTPROB'].median()

np.float64(0.0001965196)

In [104]:
df_with57425['MORTPROB']

339    0.000298
Name: MORTPROB, dtype: float64

In [105]:
df_no57425['MORTPROB'].mean()

np.float64(0.00039044915768726376)

In [106]:
df_no57425['MORTPROB'].std()

np.float64(0.000637697551690554)

In [107]:
df_no57425['MORTPROB'].median()

np.float64(0.00019649430000000001)

In [108]:
mortprob_bins = [0, 0.0012, 0.0024, 0.0036, 0.0048, 0.006]
mortprob_labels = ['0-0.0012', '0.0012-0.0024', '0.0024-0.0036', '0.0036-0.0048', '0.0048-0.006']
df['MORTPROB_range'] = pd.cut(df['MORTPROB'], bins=mortprob_bins, labels=mortprob_labels, right=True)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/9095050.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['MORTPROB_range'] = pd.cut(df['MORTPROB'], bins=mortprob_bins, labels=mortprob_labels, right=True)

In [109]:
df.groupby('MORTPROB_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['MORTPROB_range'].count()) * 100).round(1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1951369349.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('MORTPROB_range').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['MORTPROB_range'].count()) * 100).round(1)

  MORTPROB_range  counts  percentage
0       0-0.0012     388        93.9
1  0.0012-0.0024      17         4.1
2  0.0024-0.0036       4         1.0
3  0.0036-0.0048       0         0.0
4   0.0048-0.006       4         1.0

In [110]:
df.groupby('SMOKE').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['SMOKE'].count()) * 100).round(2)

  SMOKE  counts  percentage
0    No     391       94.67
1   Yes      22        5.33

In [111]:
df_with57425.groupby('SMOKE').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['SMOKE'].count()) * 100).round(2)

  SMOKE  counts  percentage
0    No       1       100.0

In [112]:
df_no57425.groupby('SMOKE').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['SMOKE'].count()) * 100).round(2)

  SMOKE  counts  percentage
0    No     390       94.66
1   Yes      22        5.34

In [113]:
df.groupby('PODIAG10').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['PODIAG10'].count()) * 100).round(2)

  PODIAG10  counts  percentage
0    F64.0     304       73.61
1    F64.1       8        1.94
2    F64.9      97       23.49
3  Z87.890       4        0.97

In [114]:
df_with57425.groupby('PODIAG10').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['PODIAG10'].count()) * 100).round(2)

  PODIAG10  counts  percentage
0  Z87.890       1       100.0

In [115]:
df_no57425.groupby('PODIAG10').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['PODIAG10'].count()) * 100).round(2)

  PODIAG10  counts  percentage
0    F64.0     304       73.79
1    F64.1       8        1.94
2    F64.9      97       23.54
3  Z87.890       3        0.73

# Major Medical Comorbidity (composite variable) with binary outcome (Y/N)

In [116]:
col1 = ['HXCHF', 'ASCITES', 'HXCOPD', 'VENTILAT', 'RENAFAIL', 'DIALYSIS', 
        'STEROID', 'BLEEDDIS', 'WTLOSS', 'HYPERMED', 'DIABETES', 'DISCANCR']
col1_condition = df_with57425[col1].apply(lambda x: any(str(val).lower() != 'no' and pd.notna(val) for val in x), axis=1)

col1_condition.sum()

np.int64(0)

In [121]:
df['major_medical_comorbidity'] = df[col1].apply(lambda x: any(str(val).lower() != 'no' and pd.notna(val) for val in x), axis=1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/3276194881.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['major_medical_comorbidity'] = df[col1].apply(lambda x: any(str(val).lower() != 'no' and pd.notna(val) for val in x), axis=1)

In [122]:
df.groupby('HXCHF').size().reset_index(name='counts')

  HXCHF  counts
0    No     413

In [227]:
df.groupby('ASCITES').size().reset_index(name='counts')

  ASCITES  counts
0      No     413

In [228]:
df.groupby('HXCOPD').size().reset_index(name='counts')

  HXCOPD  counts
0     No     413

In [229]:
df.groupby('VENTILAT').size().reset_index(name='counts')

  VENTILAT  counts
0       No     413

In [230]:
df.groupby('RENAFAIL').size().reset_index(name='counts')

  RENAFAIL  counts
0       No     288

In [27]:
df_no57425.groupby('RENAFAIL').size().reset_index(name='counts')

  RENAFAIL  counts
0       No     287

In [28]:
df_with57425.groupby('RENAFAIL').size().reset_index(name='counts')

  RENAFAIL  counts
0       No       1

In [231]:
df.groupby('DIALYSIS').size().reset_index(name='counts')

  DIALYSIS  counts
0       No     413

In [232]:
df.groupby('STEROID').size().reset_index(name='counts')

  STEROID  counts
0      No     403
1     Yes      10

In [30]:
df_with57425.groupby('STEROID').size().reset_index(name='counts')

  STEROID  counts
0      No       1

In [31]:
df_no57425.groupby('STEROID').size().reset_index(name='counts')

  STEROID  counts
0      No     402
1     Yes      10

In [233]:
df.groupby('STEROID').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['STEROID'].count()) * 100).round(1)

  STEROID  counts  percentage
0      No     403        97.6
1     Yes      10         2.4

In [234]:
df.groupby('BLEEDDIS').size().reset_index(name='counts')

  BLEEDDIS  counts
0       No     411
1      Yes       2

In [235]:
df.groupby('BLEEDDIS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['BLEEDDIS'].count()) * 100).round(1)

  BLEEDDIS  counts  percentage
0       No     411        99.5
1      Yes       2         0.5

In [32]:
df_with57425.groupby('BLEEDDIS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['BLEEDDIS'].count()) * 100).round(1)

  BLEEDDIS  counts  percentage
0       No       1       100.0

In [76]:
df.groupby('WTLOSS').size().reset_index(name='counts')

  WTLOSS  counts
0     No     154

In [33]:
df_with57425.groupby('WTLOSS').size().reset_index(name='counts')

Empty DataFrame
Columns: [WTLOSS, counts]
Index: []

In [77]:
df.groupby('HYPERMED').size().reset_index(name='counts')

  HYPERMED  counts
0       No     377
1      Yes      36

In [34]:
df_with57425.groupby('HYPERMED').size().reset_index(name='counts')

  HYPERMED  counts
0       No       1

In [236]:
df.groupby('HYPERMED').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['HYPERMED'].count()) * 100).round(1)

  HYPERMED  counts  percentage
0       No     377        91.3
1      Yes      36         8.7

In [78]:
df.groupby('DIABETES').size().reset_index(name='counts')

      DIABETES  counts
0      INSULIN      10
1           NO     392
2  NON-INSULIN      11

In [35]:
df_with57425.groupby('DIABETES').size().reset_index(name='counts')

  DIABETES  counts
0       NO       1

In [238]:
df.groupby('DIABETES').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['DIABETES'].count()) * 100).round(1)

      DIABETES  counts  percentage
0      INSULIN      10         2.4
1           NO     392        94.9
2  NON-INSULIN      11         2.7

In [239]:
df.groupby('DISCANCR').size().reset_index(name='counts')

  DISCANCR  counts
0       No     413

# Operative variables

In [123]:
df.groupby('PUFYEAR').size().reset_index(name='counts')

   PUFYEAR  counts
0     2019      91
1     2020      63
2     2021     125
3     2022     134

In [176]:
df.groupby('PUFYEAR').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['PUFYEAR'].count()) * 100).round(2)

   PUFYEAR  counts  percentage
0     2019      91       22.03
1     2020      63       15.25
2     2021     125       30.27
3     2022     134       32.45

In [178]:
df_no57425.groupby('PUFYEAR').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['PUFYEAR'].count()) * 100).round(2)

   PUFYEAR  counts  percentage
0     2019      91       22.09
1     2020      63       15.29
2     2021     125       30.34
3     2022     133       32.28

In [81]:
df.groupby('OPTIME').size().reset_index(name='counts')

     OPTIME  counts
0        28       1
1        30       1
2        37       1
3        41       1
4        66       1
..      ...     ...
255     620       2
256     646       1
257     659       1
258     676       1
259     689       1

[260 rows x 2 columns]

In [242]:
df['OPTIME'].mean()

np.float64(273.6271186440678)

In [243]:
df['OPTIME'].std()

np.float64(131.09255768452255)

In [244]:
df['OPTIME'].median()

np.float64(252.0)

In [179]:
df_with57425['OPTIME']

339    373
Name: OPTIME, dtype: int64

In [180]:
df_no57425['OPTIME'].mean()

np.float64(273.38592233009706)

In [181]:
df_no57425['OPTIME'].std()

np.float64(131.16015764942372)

In [182]:
df_no57425['OPTIME'].median()

np.float64(252.0)

In [82]:
df.groupby('HDISDT').size().reset_index(name='counts')

   HDISDT  counts
0    2019      90
1    2020      64
2    2021     124
3    2022     135

In [183]:
df.groupby('HDISDT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['HDISDT'].count()) * 100).round(2)

   HDISDT  counts  percentage
0    2019      90       21.79
1    2020      64       15.50
2    2021     124       30.02
3    2022     135       32.69

In [184]:
df_with57425['HDISDT']

339    2022
Name: HDISDT, dtype: int64

In [185]:
df_no57425.groupby('HDISDT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['HDISDT'].count()) * 100).round(2)

   HDISDT  counts  percentage
0    2019      90       21.84
1    2020      64       15.53
2    2021     124       30.10
3    2022     134       32.52

In [187]:
df.groupby('TOTHLOS').size().reset_index(name='counts')

    TOTHLOS  counts
0         0      21
1         1      10
2         2      24
3         3     146
4         4      18
5         5      62
6         6      70
7         7      35
8         8      10
9         9       9
10       10       3
11       11       3
12       12       1
13       15       1

In [246]:
df['TOTHLOS'].mean()

np.float64(4.343825665859564)

In [247]:
df['TOTHLOS'].std()

np.float64(2.25830546675695)

In [248]:
df['TOTHLOS'].median()

np.float64(4.0)

In [249]:
df['TOTHLOS'].mode()

0    3
Name: TOTHLOS, dtype: int64

In [190]:
df_with57425['TOTHLOS'].std()

np.float64(nan)

In [191]:
df_no57425['TOTHLOS'].mean()

np.float64(4.347087378640777)

In [192]:
df_no57425['TOTHLOS'].std()

np.float64(2.2600769235527345)

In [193]:
df_no57425['TOTHLOS'].median()

np.float64(4.0)

In [250]:
df.groupby('NOTHBLEED').size().reset_index(name='counts')

   NOTHBLEED  counts
0          0     397
1          1      16

In [251]:
df.groupby('NOTHBLEED').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['NOTHBLEED'].count()) * 100).round(1)

   NOTHBLEED  counts  percentage
0          0     397        96.1
1          1      16         3.9

In [194]:
df_with57425['NOTHBLEED']

339    0
Name: NOTHBLEED, dtype: int64

In [252]:
df.groupby('STILLINHOSP').size().reset_index(name='counts')

  STILLINHOSP  counts
0          No     413

In [270]:
df.groupby('CONCURR1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR1'].count()) * 100).round(1)

                                            CONCURR1  counts  percentage
0                          AMPUTATION PENIS COMPLETE      12        19.4
1                                  CYSTOURETHROSCOPY       1         1.6
2             EXPL RPR & PRESACRAL DRG RECTAL INJURY       1         1.6
3                          INTERSEX SURG MALE FEMALE       1         1.6
4         LAPS COLECTOMY PRTL W/COLOPXTSTMY LW ANAST       2         3.2
5    LARYNGOPLASTY CRICOID SPLIT W/O GRAFT PLACEMENT       1         1.6
6        ORCHIECTOMY RADICAL TUMOR INGUINAL APPROACH       2         3.2
7       ORCHIECTOMY SIMPLE SCROTAL/INGUINAL APPROACH      21        33.9
8      PROCTOSGMDSC RGD DX W/WO COLLJ SPEC BR/WA SPX       1         1.6
9    SPLIT AGRFT F/S/N/H/F/G/M/D GT 1ST 100 CM/</1 %       1         1.6
10   SPLIT AGRFT T/A/L EA 100 CM/EA 1% BDY INFT/CHLD       1         1.6
11                 UNLISTED PROCEDURE URINARY SYSTEM       2         3.2
12  URETHROPLASTY 1 STG RECNST MALE ANTERIOR URETHRA       1         1.6
13               URETHROPLASTY RCNSTJ FEMALE URETHRA      10        16.1
14         URTP TRANSPUBIC/PRNL 1 STG RCNSTJ/RPR URT       2         3.2
15                       VAGINOPLASTY INTERSEX STATE       3         4.8

In [37]:
df_with57425.groupby('CONCURR1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['CONCURR1'].count()) * 100).round(1)

                                          CONCURR1  counts  percentage
0  SPLIT AGRFT F/S/N/H/F/G/M/D GT 1ST 100 CM/</1 %       1       100.0

In [45]:
df_with57425.groupby('CONCPT1').size().reset_index(name='counts')

   CONCPT1  counts
0  15120.0       1

In [48]:
df.groupby('CONCPT1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT1'].count()) * 100).round(2)

    CONCPT1  counts  percentage
0   15101.0       1        1.61
1   15120.0       1        1.61
2   31587.0       1        1.61
3   44207.0       2        3.23
4   45300.0       1        1.61
5   45562.0       1        1.61
6   52000.0       1        1.61
7   53410.0       1        1.61
8   53415.0       2        3.23
9   53430.0      10       16.13
10  53899.0       2        3.23
11  54125.0      12       19.35
12  54520.0      21       33.87
13  54530.0       2        3.23
14  55970.0       1        1.61
15  57335.0       3        4.84

In [49]:
df_no57425.groupby('CONCPT1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['CONCPT1'].count()) * 100).round(2)

    CONCPT1  counts  percentage
0   15101.0       1        1.64
1   31587.0       1        1.64
2   44207.0       2        3.28
3   45300.0       1        1.64
4   45562.0       1        1.64
5   52000.0       1        1.64
6   53410.0       1        1.64
7   53415.0       2        3.28
8   53430.0      10       16.39
9   53899.0       2        3.28
10  54125.0      12       19.67
11  54520.0      21       34.43
12  54530.0       2        3.28
13  55970.0       1        1.64
14  57335.0       3        4.92

In [254]:
df.groupby('CONCURR1').size().reset_index(name='counts')

                                            CONCURR1  counts
0                          AMPUTATION PENIS COMPLETE      12
1                                  CYSTOURETHROSCOPY       1
2             EXPL RPR & PRESACRAL DRG RECTAL INJURY       1
3                          INTERSEX SURG MALE FEMALE       1
4         LAPS COLECTOMY PRTL W/COLOPXTSTMY LW ANAST       2
5    LARYNGOPLASTY CRICOID SPLIT W/O GRAFT PLACEMENT       1
6        ORCHIECTOMY RADICAL TUMOR INGUINAL APPROACH       2
7       ORCHIECTOMY SIMPLE SCROTAL/INGUINAL APPROACH      21
8      PROCTOSGMDSC RGD DX W/WO COLLJ SPEC BR/WA SPX       1
9    SPLIT AGRFT F/S/N/H/F/G/M/D GT 1ST 100 CM/</1 %       1
10   SPLIT AGRFT T/A/L EA 100 CM/EA 1% BDY INFT/CHLD       1
11                 UNLISTED PROCEDURE URINARY SYSTEM       2
12  URETHROPLASTY 1 STG RECNST MALE ANTERIOR URETHRA       1
13               URETHROPLASTY RCNSTJ FEMALE URETHRA      10
14         URTP TRANSPUBIC/PRNL 1 STG RCNSTJ/RPR URT       2
15                       VAGINOPLASTY INTERSEX STATE       3

In [268]:
df.groupby('CONCURR1').size().reset_index(name='counts')['counts'].sum()

np.int64(62)

In [89]:
df.filter(regex='(?i)CONCPT').columns

Index(['CONCPT1', 'CONCPT2', 'CONCPT3', 'CONCPT4', 'CONCPT5', 'CONCPT6',
       'CONCPT7', 'CONCPT8', 'CONCPT9', 'CONCPT10'],
      dtype='object')

In [256]:
df.groupby('CONCPT1').size().reset_index(name='counts')

    CONCPT1  counts
0   15101.0       1
1   15120.0       1
2   31587.0       1
3   44207.0       2
4   45300.0       1
5   45562.0       1
6   52000.0       1
7   53410.0       1
8   53415.0       2
9   53430.0      10
10  53899.0       2
11  54125.0      12
12  54520.0      21
13  54530.0       2
14  55970.0       1
15  57335.0       3

In [271]:
df.groupby('CONCPT1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT1'].count()) * 100).round(1)

    CONCPT1  counts  percentage
0   15101.0       1         1.6
1   15120.0       1         1.6
2   31587.0       1         1.6
3   44207.0       2         3.2
4   45300.0       1         1.6
5   45562.0       1         1.6
6   52000.0       1         1.6
7   53410.0       1         1.6
8   53415.0       2         3.2
9   53430.0      10        16.1
10  53899.0       2         3.2
11  54125.0      12        19.4
12  54520.0      21        33.9
13  54530.0       2         3.2
14  55970.0       1         1.6
15  57335.0       3         4.8

In [50]:
df.groupby('CONCPT2').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT2'].count()) * 100).round(2)

    CONCPT2  counts  percentage
0   15100.0       1         2.5
1   44140.0       1         2.5
2   53010.0       1         2.5
3   53410.0       1         2.5
4   53415.0       1         2.5
5   53430.0       2         5.0
6   53899.0       2         5.0
7   54125.0      13        32.5
8   54336.0       1         2.5
9   54520.0      13        32.5
10  56805.0       1         2.5
11  57292.0       1         2.5
12  57420.0       1         2.5
13  59000.0       1         2.5

In [275]:
df.groupby('CONCURR2').size().reset_index(name='counts')

                                            CONCURR2  counts
0         1 STG PERINEAL HYPOSPADIAS RPR W/GRF&/FLAP       1
1                            AMNIOCENTESIS DIAGNOSIC       1
2                          AMPUTATION PENIS COMPLETE      13
3                       CLITOROPLASTY INTERSEX STATE       1
4                    COLECTOMY PARTIAL W/ANASTOMOSIS       1
5       COLPOSCOPY ENTIRE VAGINA W/CERVIX IF PRESENT       1
6             CONSTRUCTION ARTIFICIAL VAGINA W/GRAFT       1
7       ORCHIECTOMY SIMPLE SCROTAL/INGUINAL APPROACH      13
8    SPLIT AGRFT T/A/L 1ST 100 CM/&/1% BDY INFT/CHLD       1
9                  UNLISTED PROCEDURE URINARY SYSTEM       2
10  URETHROPLASTY 1 STG RECNST MALE ANTERIOR URETHRA       1
11               URETHROPLASTY RCNSTJ FEMALE URETHRA       2
12  URETHROTOMY/URETHROSTOMY XT SPX PERINEAL URETHRA       1
13         URTP TRANSPUBIC/PRNL 1 STG RCNSTJ/RPR URT       1

In [276]:
df.groupby('CONCURR2').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR2'].count()) * 100).round(1)

                                            CONCURR2  counts  percentage
0         1 STG PERINEAL HYPOSPADIAS RPR W/GRF&/FLAP       1         2.5
1                            AMNIOCENTESIS DIAGNOSIC       1         2.5
2                          AMPUTATION PENIS COMPLETE      13        32.5
3                       CLITOROPLASTY INTERSEX STATE       1         2.5
4                    COLECTOMY PARTIAL W/ANASTOMOSIS       1         2.5
5       COLPOSCOPY ENTIRE VAGINA W/CERVIX IF PRESENT       1         2.5
6             CONSTRUCTION ARTIFICIAL VAGINA W/GRAFT       1         2.5
7       ORCHIECTOMY SIMPLE SCROTAL/INGUINAL APPROACH      13        32.5
8    SPLIT AGRFT T/A/L 1ST 100 CM/&/1% BDY INFT/CHLD       1         2.5
9                  UNLISTED PROCEDURE URINARY SYSTEM       2         5.0
10  URETHROPLASTY 1 STG RECNST MALE ANTERIOR URETHRA       1         2.5
11               URETHROPLASTY RCNSTJ FEMALE URETHRA       2         5.0
12  URETHROTOMY/URETHROSTOMY XT SPX PERINEAL URETHRA       1         2.5
13         URTP TRANSPUBIC/PRNL 1 STG RCNSTJ/RPR URT       1         2.5

In [278]:
df.groupby('CONCURR3').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR3'].count()) * 100).round(1)

                                       CONCURR3  counts  percentage
0                     AMPUTATION PENIS COMPLETE       1         7.1
1      CONSTRUCTION ARTIFICIAL VAGINA W/O GRAFT       1         7.1
2  ORCHIECTOMY SIMPLE SCROTAL/INGUINAL APPROACH       4        28.6
3                      SCROTOPLASTY COMPLICATED       1         7.1
4           URETHROPLASTY RCNSTJ FEMALE URETHRA       6        42.9
5     URTP TRANSPUBIC/PRNL 1 STG RCNSTJ/RPR URT       1         7.1

In [51]:
df.groupby('CONCPT3').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT3'].count()) * 100).round(2)

   CONCPT3  counts  percentage
0  53415.0       1        7.14
1  53430.0       6       42.86
2  54125.0       1        7.14
3  54520.0       4       28.57
4  55180.0       1        7.14
5  57291.0       1        7.14

In [281]:
df.groupby('CONCURR4').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR4'].count()) * 100).round(1)

                                           CONCURR4  counts  percentage
0                         AMPUTATION PENIS COMPLETE       1        16.7
1                      CLITOROPLASTY INTERSEX STATE       1        16.7
2  FRMJ DIR/TUBE PEDCL W/WOTR FH/CH/CH/M/N/AX/G/H/F       1        16.7
3        RPR NFLTBL URETHRAL/BLADDER NECK SPHINCTER       1        16.7
4  URETHROPLASTY 1 STG RECNST MALE ANTERIOR URETHRA       1        16.7
5               URETHROPLASTY RCNSTJ FEMALE URETHRA       1        16.7

In [52]:
df.groupby('CONCPT4').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT4'].count()) * 100).round(2)

   CONCPT4  counts  percentage
0  15574.0       1       16.67
1  53410.0       1       16.67
2  53430.0       1       16.67
3  53449.0       1       16.67
4  54125.0       1       16.67
5  56805.0       1       16.67

In [282]:
df.groupby('CONCURR5').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR5'].count()) * 100).round(1)

                              CONCURR5  counts  percentage
0                    CYSTOURETHROSCOPY       1        25.0
1    UNLISTED PROCEDURE URINARY SYSTEM       1        25.0
2  URETHROPLASTY RCNSTJ FEMALE URETHRA       2        50.0

In [53]:
df.groupby('CONCPT5').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCPT5'].count()) * 100).round(2)

   CONCPT5  counts  percentage
0  52000.0       1        25.0
1  53430.0       2        50.0
2  53899.0       1        25.0

In [283]:
df.groupby('CONCURR6').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR6'].count()) * 100).round(1)

                       CONCURR6  counts  percentage
0  CLITOROPLASTY INTERSEX STATE       2       100.0

In [284]:
df.groupby('CONCURR7').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR7'].count()) * 100).round(1)

Empty DataFrame
Columns: [CONCURR7, counts, percentage]
Index: []

In [285]:
df.groupby('CONCURR8').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CONCURR8'].count()) * 100).round(1)

Empty DataFrame
Columns: [CONCURR8, counts, percentage]
Index: []

In [171]:
df['CONCPT1'].unique()

array([   nan, 54520., 53430., 54530., 54125., 53415., 57335., 44207.,
       55970., 15101., 53410., 53899., 45562., 52000., 45300., 15120.,
       31587.])

In [179]:
df['CONCURR'] = df.filter(regex='(?i)CONCURR[1-9]').notna().any(axis=1)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/4056612783.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['CONCURR'] = df.filter(regex='(?i)CONCURR[1-9]').notna().any(axis=1)

In [160]:
pd.concat([df[col] for col in df.filter(regex='(?i)CONCPT').columns]).dropna().value_counts().reset_index()

      index  count
0   54520.0     38
1   54125.0     27
2   53430.0     21
3   53899.0      5
4   53415.0      4
5   56805.0      4
6   53410.0      3
7   57335.0      3
8   44207.0      2
9   52000.0      2
10  54530.0      2
11  53449.0      1
12  55180.0      1
13  54336.0      1
14  57291.0      1
15  57292.0      1
16  53010.0      1
17  59000.0      1
18  15120.0      1
19  15100.0      1
20  44140.0      1
21  57420.0      1
22  31587.0      1
23  45300.0      1
24  45562.0      1
25  15101.0      1
26  55970.0      1
27  15574.0      1

In [38]:
pd.concat([df_with57425[col] for col in df_with57425.filter(regex='(?i)CONCPT').columns]).dropna().value_counts().reset_index()

     index  count
0  15120.0      1

In [43]:
pd.concat([df_no57425[col] for col in df_no57425.filter(regex='(?i)CONCPT').columns]).dropna().value_counts().reset_index()

      index  count
0   54520.0     38
1   54125.0     27
2   53430.0     21
3   53899.0      5
4   56805.0      4
5   53415.0      4
6   53410.0      3
7   57335.0      3
8   44207.0      2
9   52000.0      2
10  54530.0      2
11  53449.0      1
12  55180.0      1
13  54336.0      1
14  57291.0      1
15  57292.0      1
16  53010.0      1
17  59000.0      1
18  45300.0      1
19  15100.0      1
20  44140.0      1
21  57420.0      1
22  31587.0      1
23  45562.0      1
24  15101.0      1
25  55970.0      1
26  15574.0      1

# Main outcome measures

## Unplanned readmission

In [124]:
df.filter(regex='(?i)unplanned').columns

Index(['UNPLANNEDREADMISSION1', 'UNPLANNEDREADMISSION2',
       'UNPLANNEDREADMISSION3', 'UNPLANNEDREADMISSION4',
       'UNPLANNEDREADMISSION5', 'UNPLANNED_CONV_OPEN'],
      dtype='object')

In [125]:
df.filter(regex='(?i)reoperation').columns

Index(['REOPERATION1', 'REOPERATION2', 'REOPERATION3'], dtype='object')

In [126]:
composite_outcome_columns = ['UNPLANNEDREADMISSION1', 'UNPLANNEDREADMISSION2', 'UNPLANNEDREADMISSION3', 'UNPLANNEDREADMISSION4', 
                            'UNPLANNEDREADMISSION5', 'REOPERATION1', 'REOPERATION2', 'REOPERATION3', 'PULEMBOL', 'FAILWEAN', 'REINTUB', 
                            'OPRENAFL', 'CDARREST', 'CDMI', 'CNSCVA', 'WNDINFD', 'OTHSESHOCK']

In [127]:
col1 = ['UNPLANNEDREADMISSION1', 'UNPLANNEDREADMISSION2', 'UNPLANNEDREADMISSION3', 
        'UNPLANNEDREADMISSION4', 'UNPLANNEDREADMISSION5', 'REOPERATION1', 
        'REOPERATION2', 'REOPERATION3']

col2 = ['PULEMBOL', 'FAILWEAN', 'REINTUB', 'OPRENAFL', 'CDARREST', 'CDMI', 
        'CNSCVA', 'WNDINFD', 'OTHSESHOCK']

# Creating a condition for col1: any 'Yes' indicates a composite outcome
col1_condition = df[col1].apply(lambda x: 'Yes' in x.values, axis=1)

# Creating a condition for col2: any value that is NOT "No complication" or NaN is considered a positive outcome
col2_condition = df[col2].apply(lambda x: any(val != 'No Complication' and pd.notna(val) for val in x), axis=1)

# Combining the two conditions
df['composite_outcome'] = col1_condition | col2_condition

# Counting the number of patients with any composite outcome
df['composite_outcome'].sum()

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/719466772.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['composite_outcome'] = col1_condition | col2_condition

np.int64(32)

In [128]:
col1_condition.sum()

np.int64(28)

In [129]:
col2_condition.sum()

np.int64(6)

In [147]:
# Creating a condition for col1: any 'Yes' indicates a composite outcome
col1_condition = df_with57425[col1].apply(lambda x: 'Yes' in x.values, axis=1)

# Creating a condition for col2: any value that is NOT "No complication" or NaN is considered a positive outcome
col2_condition = df_with57425[col2].apply(lambda x: any(val != 'No Complication' and pd.notna(val) for val in x), axis=1)

# Combining the two conditions
df_with57425['composite_outcome'] = col1_condition | col2_condition

# Counting the number of patients with any composite outcome
df_with57425['composite_outcome'].sum()

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_73334/2251989810.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_with57425['composite_outcome'] = col1_condition | col2_condition
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_73334/2251989810.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with57425['composite_outcome'] = col1_condition | col2_condition

np.int64(0)

In [148]:
# Creating a condition for col1: any 'Yes' indicates a composite outcome
col1_condition = df_no57425[col1].apply(lambda x: 'Yes' in x.values, axis=1)

# Creating a condition for col2: any value that is NOT "No complication" or NaN is considered a positive outcome
col2_condition = df_no57425[col2].apply(lambda x: any(val != 'No Complication' and pd.notna(val) for val in x), axis=1)

# Combining the two conditions
df_no57425['composite_outcome'] = col1_condition | col2_condition

# Counting the number of patients with any composite outcome
df_no57425['composite_outcome'].sum()

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_73334/734910421.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_no57425['composite_outcome'] = col1_condition | col2_condition

np.int64(32)

In [149]:
df.groupby('UNPLANNEDREADMISSION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['UNPLANNEDREADMISSION1'].count()) * 100).round(2)

  UNPLANNEDREADMISSION1  counts  percentage
0                   Yes      14       100.0

In [148]:
df_with57425.groupby('UNPLANNEDREADMISSION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['UNPLANNEDREADMISSION1'].count()) * 100).round(2)

Empty DataFrame
Columns: [UNPLANNEDREADMISSION1, counts, percentage]
Index: []

In [150]:
df_no57425.groupby('UNPLANNEDREADMISSION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['UNPLANNEDREADMISSION1'].count()) * 100).round(2)

  UNPLANNEDREADMISSION1  counts  percentage
0                   Yes      14       100.0

In [126]:
df.groupby('UNPLANNEDREADMISSION2').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['UNPLANNEDREADMISSION2'].count()) * 100).round(2)

Empty DataFrame
Columns: [UNPLANNEDREADMISSION2, counts, percentage]
Index: []

In [152]:
df.groupby('READMPODAYS1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['READMPODAYS1'].count()) * 100).round(2)

    READMPODAYS1  counts  percentage
0            -99     399       96.61
1              1       1        0.24
2              6       1        0.24
3              8       1        0.24
4             10       2        0.48
5             11       1        0.24
6             12       1        0.24
7             13       1        0.24
8             14       1        0.24
9             16       1        0.24
10            17       1        0.24
11            18       1        0.24
12            20       1        0.24
13            27       1        0.24

In [206]:
df.groupby('READMPODAYS1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['READMPODAYS1'].count()) * 100).round(1)

    READMPODAYS1  counts  percentage
0            1.0       1         7.1
1            6.0       1         7.1
2            8.0       1         7.1
3           10.0       2        14.3
4           11.0       1         7.1
5           12.0       1         7.1
6           13.0       1         7.1
7           14.0       1         7.1
8           16.0       1         7.1
9           17.0       1         7.1
10          18.0       1         7.1
11          20.0       1         7.1
12          27.0       1         7.1

In [208]:
df['READMPODAYS1'].mean()

np.float64(13.071428571428571)

In [209]:
df['READMPODAYS1'].std()

np.float64(6.42667859801607)

In [210]:
df['READMPODAYS1'].median()

np.float64(12.5)

In [153]:
df_with57425.groupby('READMPODAYS1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['READMPODAYS1'].count()) * 100).round(1)

   READMPODAYS1  counts  percentage
0           -99       1       100.0

In [155]:
df.groupby('READMSUSPREASON1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['READMSUSPREASON1'].count()) * 100).round(2)

             READMSUSPREASON1  counts  percentage
0                     C. diff       1        7.14
1    Other (list ICD 10 code)       6       42.86
2                      Sepsis       1        7.14
3  Superficial Incisional SSI       1        7.14
4     Urinary Tract Infection       1        7.14
5            Wound Disruption       4       28.57

In [72]:
df.groupby('READMRELICD91').size().reset_index(name='counts')

Empty DataFrame
Columns: [READMRELICD91, counts]
Index: []

In [74]:
df.groupby('READMRELICD101').size().reset_index(name='counts')

  READMRELICD101  counts
0         G89.18       1
1          K12.0       1
2         L76.32       1
3          N82.4       1
4        N99.820       1
5       T81.32XA       1

In [157]:
df.groupby('READMUNRELSUSP1').size().reset_index(name='counts')

Empty DataFrame
Columns: [READMUNRELSUSP1, counts]
Index: []

In [76]:
df.groupby('READMUNRELICD91').size().reset_index(name='counts')

Empty DataFrame
Columns: [READMUNRELICD91, counts]
Index: []

In [77]:
df.groupby('READMUNRELICD101').size().reset_index(name='counts')

Empty DataFrame
Columns: [READMUNRELICD101, counts]
Index: []

## Unplanned surgey

In [125]:
df.groupby('REOPERATION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['REOPERATION1'].count()) * 100).round(2)

  REOPERATION1  counts  percentage
0           No     390       94.43
1          Yes      23        5.57

In [158]:
df_with57425.groupby('REOPERATION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['REOPERATION1'].count()) * 100).round(2)

  REOPERATION1  counts  percentage
0           No       1       100.0

In [159]:
df_no57425.groupby('REOPERATION1').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_no57425['REOPERATION1'].count()) * 100).round(2)

  REOPERATION1  counts  percentage
0           No     389       94.42
1          Yes      23        5.58

In [162]:
df.groupby('REOPORCPT1').size().reset_index(name='counts')

    REOPORCPT1  counts
0      11042.0       1
1      12021.0       1
2      13160.0       1
3      14040.0       1
4      15120.0       1
5      21501.0       2
6      44310.0       1
7      52005.0       1
8      57023.0       3
9      57160.0       1
10     57300.0       1
11     57335.0       3
12     57410.0       5

In [119]:
df.groupby('RETORPODAYS').size().reset_index(name='counts')

    RETORPODAYS  counts
0           -99     390
1             1       2
2             2       1
3             3       1
4             4       2
5             5       3
6             6       1
7            11       1
8            14       2
9            15       3
10           16       1
11           17       3
12           21       1
13           23       1
14           28       1

In [163]:
df_with57425.groupby('RETORPODAYS').size().reset_index(name='counts')

   RETORPODAYS  counts
0          -99       1

In [212]:
df.groupby('RETORPODAYS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['RETORPODAYS'].count()) * 100).round(1)

    RETORPODAYS  counts  percentage
0           1.0       2         8.7
1           2.0       1         4.3
2           3.0       1         4.3
3           4.0       2         8.7
4           5.0       3        13.0
5           6.0       1         4.3
6          11.0       1         4.3
7          14.0       2         8.7
8          15.0       3        13.0
9          16.0       1         4.3
10         17.0       3        13.0
11         21.0       1         4.3
12         23.0       1         4.3
13         28.0       1         4.3

In [211]:
df.groupby('RETORPODAYS').size().reset_index(name='counts')

    RETORPODAYS  counts
0           1.0       2
1           2.0       1
2           3.0       1
3           4.0       2
4           5.0       3
5           6.0       1
6          11.0       1
7          14.0       2
8          15.0       3
9          16.0       1
10         17.0       3
11         21.0       1
12         23.0       1
13         28.0       1

In [213]:
df['RETORPODAYS'].mean()

np.float64(11.26086956521739)

In [214]:
df['RETORPODAYS'].std()

np.float64(7.706062497117848)

In [215]:
df['RETORPODAYS'].median()

np.float64(14.0)

In [166]:
df.groupby('REOPOR1ICD101').size().reset_index(name='counts')

   REOPOR1ICD101  counts
0          F64.0       2
1          L76.3       1
2         L76.32       1
3          N13.8       1
4          N82.3       1
5          N82.4       1
6         N94.89       1
7        N99.820       1
8        N99.840       1
9            R58       1
10         S37.1       1
11         T81.3       1
12      T81.30XA       2
13      T81.31XA       2
14      T81.32XA       2
15      T81.89XA       1
16       T86.821       1
17         Z04.8       1

In [95]:
df.groupby('REOPORICD91').size().reset_index(name='counts')

Empty DataFrame
Columns: [REOPORICD91, counts]
Index: []

In [96]:
df.groupby('REOPERATION2').size().reset_index(name='counts')

  REOPERATION2  counts
0          Yes       4

In [99]:
df.groupby('REOPOR2CPT1').size().reset_index(name='counts')

   REOPOR2CPT1  counts
0      11042.0       1
1      51565.0       1
2      57410.0       1
3      57415.0       1

In [100]:
df.groupby('RETOR2PODAYS').size().reset_index(name='counts')

   RETOR2PODAYS  counts
0           -99     409
1             5       1
2             7       1
3            22       1
4            24       1

In [217]:
df['RETOR2PODAYS'].mean()

np.float64(14.5)

In [218]:
df['RETOR2PODAYS'].std()

np.float64(9.882644720249063)

In [219]:
df['RETOR2PODAYS'].median()

np.float64(14.5)

In [101]:
df.groupby('REOPOR2ICD101').size().reset_index(name='counts')

  REOPOR2ICD101  counts
0         F64.0       1
1      S37.10XA       1
2      T81.31XA       2

In [102]:
df.groupby('REOPOR2ICD91').size().reset_index(name='counts')

Empty DataFrame
Columns: [REOPOR2ICD91, counts]
Index: []

In [103]:
df.groupby('REOPERATION3').size().reset_index(name='counts')

  REOPERATION3  counts
0          Yes       1

## Major complication

In [136]:
col2 = ['PULEMBOL', 'FAILWEAN', 'REINTUB', 'OPRENAFL', 'CDARREST', 'CDMI', 
        'CNSCVA', 'WNDINFD', 'OTHSESHOCK']

# Creating a condition for col2: any value that is NOT "No complication" or NaN is considered a positive outcome
col2_condition = df[col2].apply(lambda x: any(val != 'No Complication' and pd.notna(val) for val in x), axis=1)


df['major_complications'] = col2_condition
col2_condition.sum()

np.int64(6)

In [137]:
col2 = ['SUPINFEC', 'DEHIS', 'OUPNEUMO', 'URNINFEC', 'OTHDVT', 'OTHBLEED', 'RENAINSF']

# Creating a condition for col2: any value that is NOT "No complication" or NaN is considered a positive outcome
col2_condition = df[col2].apply(lambda x: any(val != 'No Complication' and pd.notna(val) for val in x), axis=1)

df['minor_complications'] = col2_condition
col2_condition.sum()

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/3103696800.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['minor_complications'] = col2_condition

np.int64(42)

In [106]:
df.groupby('PULEMBOL').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['PULEMBOL'].count()) * 100).round(1)

             PULEMBOL  counts  percentage
0     No Complication     412        99.8
1  Pulmonary Embolism       1         0.2

In [29]:
df_with57425.groupby('PULEMBOL').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['PULEMBOL'].count()) * 100).round(1)

          PULEMBOL  counts  percentage
0  No Complication       1       100.0

In [107]:
df.groupby('FAILWEAN').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['FAILWEAN'].count()) * 100).round(1)

          FAILWEAN  counts  percentage
0  No Complication     413       100.0

In [108]:
df.groupby('REINTUB').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['REINTUB'].count()) * 100).round(1)

                REINTUB  counts  percentage
0       No Complication     412        99.8
1  Unplanned Intubation       1         0.2

In [109]:
df.groupby('OPRENAFL').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OPRENAFL'].count()) * 100).round(1)

          OPRENAFL  counts  percentage
0  No Complication     413       100.0

In [111]:
df.groupby('CDARREST').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CDARREST'].count()) * 100).round(1)

          CDARREST  counts  percentage
0  No Complication     413       100.0

In [112]:
df.groupby('CDMI').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CDMI'].count()) * 100).round(1)

              CDMI  counts  percentage
0  No Complication     413       100.0

In [113]:
df.groupby('CNSCVA').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['CNSCVA'].count()) * 100).round(1)

            CNSCVA  counts  percentage
0  No Complication     413       100.0

In [115]:
df.groupby('WNDINFD').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['WNDINFD'].count()) * 100).round(1)

               WNDINFD  counts  percentage
0  Deep Incisional SSI       3         0.7
1      No Complication     410        99.3

In [116]:
df.groupby('OTHSESHOCK').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OTHSESHOCK'].count()) * 100).round(1)

        OTHSESHOCK  counts  percentage
0  No Complication     412        99.8
1     Septic Shock       1         0.2

## Minor Complication

In [117]:
df.groupby('SUPINFEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['SUPINFEC'].count()) * 100).round(1)

                     SUPINFEC  counts  percentage
0             No Complication     406        98.3
1  Superficial Incisional SSI       7         1.7

In [175]:
df_with57425.groupby('SUPINFEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['SUPINFEC'].count()) * 100).round(1)

          SUPINFEC  counts  percentage
0  No Complication       1       100.0

In [118]:
df.groupby('DEHIS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['DEHIS'].count()) * 100).round(1)

              DEHIS  counts  percentage
0   No Complication     400        96.9
1  Wound Disruption      13         3.1

In [54]:
df_with57425.groupby('DEHIS').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['DEHIS'].count()) * 100).round(1)

             DEHIS  counts  percentage
0  No Complication       1       100.0

In [119]:
df.groupby('OUPNEUMO').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OUPNEUMO'].count()) * 100).round(1)

          OUPNEUMO  counts  percentage
0  No Complication     413       100.0

In [120]:
df.groupby('URNINFEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['URNINFEC'].count()) * 100).round(1)

                  URNINFEC  counts  percentage
0          No Complication     403        97.6
1  Urinary Tract Infection      10         2.4

In [55]:
df_with57425.groupby('URNINFEC').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['URNINFEC'].count()) * 100).round(1)

                  URNINFEC  counts  percentage
0  Urinary Tract Infection       1       100.0

In [122]:
df.groupby('OTHDVT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OTHDVT'].count()) * 100).round(1)

            OTHDVT  counts  percentage
0  No Complication     413       100.0

In [123]:
df.groupby('OTHBLEED').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['OTHBLEED'].count()) * 100).round(1)

                      OTHBLEED  counts  percentage
0            Blood Transfusion       2         0.5
1              No Complication     397        96.1
2  Transfusions/Intraop/Postop      14         3.4

In [56]:
df_with57425.groupby('OTHBLEED').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['OTHBLEED'].count()) * 100).round(1)

          OTHBLEED  counts  percentage
0  No Complication       1       100.0

In [125]:
df.groupby('BLEED_UNITS_TOT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['BLEED_UNITS_TOT'].count()) * 100).round(1)

   BLEED_UNITS_TOT  counts  percentage
0            -99.0     309        96.0
1              1.0       7         2.2
2              2.0       6         1.9

In [221]:
df.groupby('BLEED_UNITS_TOT').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['BLEED_UNITS_TOT'].count()) * 100).round(1)

   BLEED_UNITS_TOT  counts  percentage
0              1.0       7        53.8
1              2.0       6        46.2

In [220]:
df['BLEED_UNITS_TOT'].mean()

np.float64(1.4615384615384615)

In [222]:
df['BLEED_UNITS_TOT'].std()

np.float64(0.5188745216627708)

In [223]:
df['BLEED_UNITS_TOT'].median()

np.float64(1.0)

In [57]:
df.groupby('RENAINSF').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['RENAINSF'].count()) * 100).round(2)

                      RENAINSF  counts  percentage
0              No Complication     287       99.65
1  Postop  Renal Insufficiency       1        0.35

In [58]:
df_with57425.groupby('RENAINSF').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df_with57425['RENAINSF'].count()) * 100).round(2)

          RENAINSF  counts  percentage
0  No Complication       1       100.0

## Death

In [127]:
df.groupby('YRDEATH').size().reset_index(name='counts').assign(percentage=lambda x: (x['counts'] / df['YRDEATH'].count()) * 100).round(1)

   YRDEATH  counts  percentage
0      -99     413       100.0

# Data Preprocessing

In [2]:
import os
os.getcwd()

'/Users/chuqiwang/Desktop/NSQIP'

In [3]:
!ls

2019
2020
2021
2022
NSQIP template for 30 day outcomes for Masters Data Science students.docx
NSQIP.docx
NSQIP.pdf
data_analysis.ipynb
nsqip.csv

In [138]:
df

,PUFYEAR,CASEID,SEX,RACE_NEW,ETHNICITY_HISPANIC,PRNCPTX,CPT,WORKRVU,INOUT,TRANST,...,height_range,weight_range,BMI,BMI_range,weight_status,MORTPROB_range,major_medical_comorbidity,composite_outcome,major_complications,minor_complications
0,2019,10180079,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,70-75,>210,35.867347,"[29.9, inf)",Obesity,0-0.0012,False,False,False,False
1,2019,9966012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,65-70,170-190,30.449467,"[29.9, inf)",Obesity,0-0.0012,False,False,False,False
2,2019,10077186,male,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,70-75,170-190,23.493243,"[18.5, 24.9)",Normal weight,0-0.0012,False,False,False,False
3,2019,9693012,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Not transferred (admitted from home),...,70-75,190-210,26.775640,"[24.9, 29.9)",Overweight,0-0.0012,False,True,False,False
4,2019,9669598,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Outpatient,Not transferred (admitted from home),...,65-70,<150,21.262760,"[18.5, 24.9)",Normal weight,0-0.0012,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2022,13017610,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,70-75,<150,18.826622,"[18.5, 24.9)",Normal weight,0-0.0012,False,False,False,False
409,2022,13017444,non-binary,Unknown/Not Reported,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,70-75,150-170,22.237755,"[18.5, 24.9)",Normal weight,0-0.0012,False,False,False,False
410,2022,13181013,non-binary,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Inpatient,Home/Permanent residence,...,70-75,>210,35.006531,"[29.9, inf)",Obesity,0-0.0012,True,True,False,True
411,2022,13353838,male,Unknown/Not Reported,No,INTERSEX SURG MALE FEMALE,55970,0.00,Outpatient,Home/Permanent residence,...,70-75,170-190,25.107143,"[24.9, 29.9)",Overweight,0-0.0012,False,False,False,False
412,2022,13385918,female,White,No,VAGINOPLASTY INTERSEX STATE,57335,20.02,Inpatient,Home/Permanent residence,...,60-65,150-170,28.833984,"[24.9, 29.9)",Overweight,0.0012-0.0024,True,False,False,False

In [149]:
df.dtypes

PUFYEAR                       int64
CASEID                        int64
SEX                          object
RACE_NEW                     object
ETHNICITY_HISPANIC           object
                              ...
major_medical_comorbidity      bool
composite_outcome              bool
major_complications            bool
minor_complications            bool
Numer of Patients             int64
Length: 306, dtype: object

In [140]:
df['Numer of Patients'] = 1

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/2976992427.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['Numer of Patients'] = 1

In [206]:
nsqip = df[['composite_outcome', 'RACE_NEW', 'SEX', 'ETHNICITY_HISPANIC', 'INOUT', 'AGE', 'AGE_GROUP', 'OPERYR', 
            'ANESTHES', 'SURGSPEC', 'WEIGHT', 'weight_range', 'HEIGHT', 'height_range', 'BMI', 'BMI_range', 'ASACLAS', 
            'MORTPROB', 'MORTPROB_range', 'SMOKE', 'PODIAG10', 'CPT', 'CONCURR', 'HXCHF', 'ASCITES', 'HXCOPD', 'VENTILAT', 'RENAFAIL', 'DIALYSIS',
            'STEROID', 'BLEEDDIS', 'WTLOSS', 'HYPERMED', 'DIABETES', 'DISCANCR', 'major_medical_comorbidity', 
            'major_complications', 'minor_complications', 'Numer of Patients']]

In [207]:
nsqip

,composite_outcome,RACE_NEW,SEX,ETHNICITY_HISPANIC,INOUT,AGE,AGE_GROUP,OPERYR,ANESTHES,SURGSPEC,...,STEROID,BLEEDDIS,WTLOSS,HYPERMED,DIABETES,DISCANCR,major_medical_comorbidity,major_complications,minor_complications,Numer of Patients
0,False,White,female,No,Inpatient,28,20-30,2019,General,Plastics,...,No,No,No,No,NO,No,False,False,False,1
1,False,White,female,No,Outpatient,33,30-40,2019,General,Plastics,...,No,No,No,No,NO,No,False,False,False,1
2,False,White,male,No,Inpatient,55,50-60,2019,General,Plastics,...,No,No,No,No,NO,No,False,False,False,1
3,True,White,female,No,Inpatient,47,40-50,2019,General,Plastics,...,No,No,No,No,NO,No,False,False,False,1
4,False,White,female,No,Outpatient,49,40-50,2019,General,Plastics,...,Yes,No,No,No,NO,No,True,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,False,White,female,No,Inpatient,30,30-40,2022,General,Plastics,...,No,No,NaN,No,NO,No,False,False,False,1
409,False,Unknown/Not Reported,non-binary,No,Inpatient,27,20-30,2022,General,Plastics,...,No,No,NaN,No,NO,No,False,False,False,1
410,True,Unknown/Not Reported,non-binary,No,Inpatient,44,40-50,2022,General,Plastics,...,No,No,NaN,Yes,NO,No,True,False,True,1
411,False,Unknown/Not Reported,male,No,Outpatient,37,30-40,2022,General,Plastics,...,No,No,NaN,No,NO,No,False,False,False,1
412,False,White,female,No,Inpatient,73,70-80,2022,General,Plastics,...,No,No,NaN,Yes,NO,No,True,False,False,1

In [208]:
nsqip.to_csv('nsqip_cleaned.csv')

In [183]:
df.to_csv('nsqip.csv')

In [209]:
pd.get_dummies(nsqip, drop_first=True)

,composite_outcome,AGE,OPERYR,WEIGHT,HEIGHT,BMI,MORTPROB,CPT,CONCURR,major_medical_comorbidity,...,MORTPROB_range_0.0048-0.006,SMOKE_Yes,PODIAG10_F64.1,PODIAG10_F64.9,PODIAG10_Z87.890,STEROID_Yes,BLEEDDIS_Yes,HYPERMED_Yes,DIABETES_NO,DIABETES_NON-INSULIN
0,False,28,2019,250.0,70.0,35.867347,0.000247,57335,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,33,2019,183.0,65.0,30.449467,0.000424,57335,False,False,...,False,False,True,False,False,False,False,False,True,False
2,False,55,2019,183.0,74.0,23.493243,0.001034,57335,False,False,...,False,False,False,False,False,False,False,False,True,False
3,True,47,2019,192.0,71.0,26.775640,0.000532,57335,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,49,2019,144.0,69.0,21.262760,0.001096,57335,False,True,...,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,False,30,2022,135.0,71.0,18.826622,0.000140,57335,False,False,...,False,False,False,False,False,False,False,False,True,False
409,False,27,2022,155.0,70.0,22.237755,0.000117,57335,False,False,...,False,False,False,False,False,False,False,False,True,False
410,True,44,2022,244.0,70.0,35.006531,0.000129,55970,False,True,...,False,False,False,False,False,False,False,True,True,False
411,False,37,2022,175.0,70.0,25.107143,0.000067,55970,False,False,...,False,False,False,True,False,False,False,False,True,False
412,False,73,2022,168.0,64.0,28.833984,0.001397,57335,False,True,...,False,False,False,False,False,False,False,True,True,False

In [210]:
nsqip.isna().sum()

composite_outcome              0
RACE_NEW                       0
SEX                            0
ETHNICITY_HISPANIC             0
INOUT                          0
AGE                            0
AGE_GROUP                      0
OPERYR                         0
ANESTHES                       0
SURGSPEC                       0
WEIGHT                         1
weight_range                   1
HEIGHT                         2
height_range                   2
BMI                            2
BMI_range                      2
ASACLAS                        0
MORTPROB                       0
MORTPROB_range                 0
SMOKE                          0
PODIAG10                       0
CPT                            0
CONCURR                        0
HXCHF                          0
ASCITES                        0
HXCOPD                         0
VENTILAT                       0
RENAFAIL                     125
DIALYSIS                       0
STEROID                        0
BLEEDDIS                       0
WTLOSS                       259
HYPERMED                       0
DIABETES                       0
DISCANCR                       0
major_medical_comorbidity      0
major_complications            0
minor_complications            0
Numer of Patients              0
dtype: int64

In [211]:
nsqip['composite_outcome'] = nsqip['composite_outcome'].astype(int)

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1736969715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nsqip['composite_outcome'] = nsqip['composite_outcome'].astype(int)

In [212]:
binary_columns = ['HXCOPD', 'VENTILAT', 'RENAFAIL', 'DIALYSIS', 'STEROID', 
                  'BLEEDDIS', 'WTLOSS', 'HYPERMED', 'DIABETES', 'DISCANCR']

nsqip[binary_columns] = nsqip[binary_columns].replace({'Yes': 1, 'No': 0, 'NO': 0})

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1783068934.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nsqip[binary_columns] = nsqip[binary_columns].replace({'Yes': 1, 'No': 0, 'NO': 0})
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_74986/1783068934.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nsqip[binary_columns] = nsqip[binary_columns].replace({'Yes': 1, 'No': 0, 'NO': 0})

In [213]:
nsqip

,composite_outcome,RACE_NEW,SEX,ETHNICITY_HISPANIC,INOUT,AGE,AGE_GROUP,OPERYR,ANESTHES,SURGSPEC,...,STEROID,BLEEDDIS,WTLOSS,HYPERMED,DIABETES,DISCANCR,major_medical_comorbidity,major_complications,minor_complications,Numer of Patients
0,0,White,female,No,Inpatient,28,20-30,2019,General,Plastics,...,0,0,0.0,0,0,0,False,False,False,1
1,0,White,female,No,Outpatient,33,30-40,2019,General,Plastics,...,0,0,0.0,0,0,0,False,False,False,1
2,0,White,male,No,Inpatient,55,50-60,2019,General,Plastics,...,0,0,0.0,0,0,0,False,False,False,1
3,1,White,female,No,Inpatient,47,40-50,2019,General,Plastics,...,0,0,0.0,0,0,0,False,False,False,1
4,0,White,female,No,Outpatient,49,40-50,2019,General,Plastics,...,1,0,0.0,0,0,0,True,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,0,White,female,No,Inpatient,30,30-40,2022,General,Plastics,...,0,0,NaN,0,0,0,False,False,False,1
409,0,Unknown/Not Reported,non-binary,No,Inpatient,27,20-30,2022,General,Plastics,...,0,0,NaN,0,0,0,False,False,False,1
410,1,Unknown/Not Reported,non-binary,No,Inpatient,44,40-50,2022,General,Plastics,...,0,0,NaN,1,0,0,True,False,True,1
411,0,Unknown/Not Reported,male,No,Outpatient,37,30-40,2022,General,Plastics,...,0,0,NaN,0,0,0,False,False,False,1
412,0,White,female,No,Inpatient,73,70-80,2022,General,Plastics,...,0,0,NaN,1,0,0,True,False,False,1

In [214]:
nsqip.columns

Index(['composite_outcome', 'RACE_NEW', 'SEX', 'ETHNICITY_HISPANIC', 'INOUT',
       'AGE', 'AGE_GROUP', 'OPERYR', 'ANESTHES', 'SURGSPEC', 'WEIGHT',
       'weight_range', 'HEIGHT', 'height_range', 'BMI', 'BMI_range', 'ASACLAS',
       'MORTPROB', 'MORTPROB_range', 'SMOKE', 'PODIAG10', 'CPT', 'CONCURR',
       'HXCHF', 'ASCITES', 'HXCOPD', 'VENTILAT', 'RENAFAIL', 'DIALYSIS',
       'STEROID', 'BLEEDDIS', 'WTLOSS', 'HYPERMED', 'DIABETES', 'DISCANCR',
       'major_medical_comorbidity', 'major_complications',
       'minor_complications', 'Numer of Patients'],
      dtype='object')

In [215]:
nsqip = nsqip.drop(['RENAFAIL', 'WTLOSS', 'RACE_NEW', 'ETHNICITY_HISPANIC', 'INOUT', 'AGE_GROUP', 'weight_range', 'height_range', 
                    'BMI_range', 'MORTPROB', 'MORTPROB_range', 'Numer of Patients'], axis=1)

In [216]:
nsqip = nsqip.dropna()

In [217]:
pd.get_dummies(nsqip, drop_first=True).astype(int)

,composite_outcome,AGE,OPERYR,WEIGHT,HEIGHT,BMI,CPT,CONCURR,HXCOPD,VENTILAT,...,SURGSPEC_Plastics,SURGSPEC_Urology,ASACLAS_2-Mild Disturb,ASACLAS_3-Severe Disturb,SMOKE_Yes,PODIAG10_F64.1,PODIAG10_F64.9,PODIAG10_Z87.890,DIABETES_INSULIN,DIABETES_NON-INSULIN
0,0,28,2019,250,70,35,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,0,33,2019,183,65,30,57335,0,0,0,...,1,0,0,1,0,1,0,0,0,0
2,0,55,2019,183,74,23,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,1,47,2019,192,71,26,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,0,49,2019,144,69,21,57335,0,0,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,0,30,2022,135,71,18,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
409,0,27,2022,155,70,22,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
410,1,44,2022,244,70,35,55970,0,0,0,...,1,0,1,0,0,0,0,0,0,0
411,0,37,2022,175,70,25,55970,0,0,0,...,1,0,1,0,0,0,1,0,0,0
412,0,73,2022,168,64,28,57335,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [218]:
nsqip = pd.get_dummies(nsqip, drop_first=True).astype(int)

In [219]:
nsqip

,composite_outcome,AGE,OPERYR,WEIGHT,HEIGHT,BMI,CPT,CONCURR,HXCOPD,VENTILAT,...,SURGSPEC_Plastics,SURGSPEC_Urology,ASACLAS_2-Mild Disturb,ASACLAS_3-Severe Disturb,SMOKE_Yes,PODIAG10_F64.1,PODIAG10_F64.9,PODIAG10_Z87.890,DIABETES_INSULIN,DIABETES_NON-INSULIN
0,0,28,2019,250,70,35,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,0,33,2019,183,65,30,57335,0,0,0,...,1,0,0,1,0,1,0,0,0,0
2,0,55,2019,183,74,23,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,1,47,2019,192,71,26,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,0,49,2019,144,69,21,57335,0,0,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,0,30,2022,135,71,18,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
409,0,27,2022,155,70,22,57335,0,0,0,...,1,0,1,0,0,0,0,0,0,0
410,1,44,2022,244,70,35,55970,0,0,0,...,1,0,1,0,0,0,0,0,0,0
411,0,37,2022,175,70,25,55970,0,0,0,...,1,0,1,0,0,0,1,0,0,0
412,0,73,2022,168,64,28,57335,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [220]:
nsqip.to_csv('nsqip_logistic.csv')